.images {
  display: flex;
  min-width: 500px;
  justify-content: center;
  align-items: center;
  & > img, & > .image-container {
    width: 50px;
    height: 50px;
    background-color: white;
    border: 1px solid black;
    margin-right: -15px;
    transition: 100ms;
    &:hover, &:focus {
      scale: 1.5;
      margin: 2em;
    }
  }
  @for $i from 1 through 10 {
    img:nth-child(#{$i}) {
      z-index: #{10 - $i};
    }
  }
}
.image-container {
  position: relative;
  width: 50px;
  height: 50px;
  img{
    width: 100%;
    height: 100%;
  }
  img:not(.cover) {
    filter: blur(2px);
  }
  .cover {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    background-color: transparent;
  }
}
