body,
table {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  margin-top: 20px;
  th,
  td {
    padding: 15px;
    text-align: center;
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  tr {
    height: 100px;
    transition: 100ms;
    td {
      min-width: 100px;
      &.disabled {
        pointer-events: none;
        color: #8f8f8f;
      }
    }
  }
  thead {
    background-color: #ffc908;
    th {
      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
  tbody {
    tr {
      &:nth-child(even) {
        background-color: #ddd;
      }
      &:hover {
        z-index: 1;
        background-color: #ccc;
        box-shadow: 0 0 5px 1px rgba($color: #000000, $alpha: 0.8);
        cursor: pointer;
      }
    }
  }
}

.images {
  display: flex;
  min-width: 300px;
  justify-content: center;
  img {
    width: 50px;
    height: 50px;
    background-color: white;
    background-color: white;
    border: 1px solid black;
    margin-right: -25px;
    transition: 100ms;
  }
  @for $i from 1 through 10 {
    img:nth-child(#{$i}) {
      z-index: #{10 - $i};
    }
  }

  &:hover {
    img {
      margin: 0;
      transition: 100ms;
      &:hover {
        filter: blur(2px);
      }
    }
  }
}
