.dashboard {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  .widget {
    background-color: lightgray;
    aspect-ratio: 1/1;
    width: 520px;
  }
  .widget-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    .widget {
      width: 250px;
    }
  }
}
