@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
#root {
  display: block;
  max-width: 90%;
  margin: auto;
}
body, div{
  margin: 0;
  padding: 0;
}
$primary: #ffc908;
.btn {
  box-sizing: border-box;
  text-decoration: none;
  appearance: none;
  border: none;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: black;
  text-transform: uppercase;
  padding: 1em 1.5em;
  border-radius: 5px;
  transition: 200ms ease;
  &:hover{
    opacity: .8;
    cursor: pointer;
    box-shadow: inset 0 0 0 1px rgba($color: black, $alpha: 1);
  }
}
.btn-primary {
  background-color: $primary;
}
body {
  margin: 0;
  padding: 0;
}

.products {
  display: block;
}
